<div id='slideshowHolder'>
    <img src="{{ asset( 'bundles/flipflopsite/images/img_carousel/1.jpg') }}" alt='<h1 class="slider-title">The Hangover III</h1><div class="txt"><p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble.</p></div>' />
        <a href ='http://google.com.pe'></a>
    <img src="{{ asset( 'bundles/flipflopsite/images/img_carousel/2.jpg') }}" alt='<h1 class="slider-title">Pacific Rim</h1><div class="txt"><p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de limprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble.</p></div>' />
        <a href ='http://yahoo.es'></a>
        <img src="{{ asset( 'bundles/flipflopsite/images/img_carousel/3.jpg') }}" alt='<h1 class="slider-title">After Earth</h1><div class="txt"><p>Plusieurs variations de Lorem Ipsum peuvent être trouvées ici ou là, mais la majeure partie dentre elles a été altérée par laddition dhumour ou de mots aléatoires qui ne ressemblent pas une seconde à du texte standard.</p></div>' />
        <a href ='http://ubuntu.com'></a>
        <img src="{{ asset( 'bundles/flipflopsite/images/img_carousel/4.jpg') }}" alt='<h1 class="slider-title">Star Trek Into Darkness</h1><div class="txt"><p>Contrairement à une opinion répandue, le Lorem Ipsum nest pas simplement du texte aléatoire. Il trouve ses racines dans une oeuvre de la littérature latine classique datant de 45 av. J.-C.</p></div>' />
        <a href ='http://kubuntu.org'></a>
        <img src="{{ asset( 'bundles/flipflopsite/images/img_carousel/5.jpg') }}" alt='<h1 class="slider-title">Jagten</h1><div class="txt"><p>Le Lorem Ipsum ainsi obtenu ne contient aucune répétition, ni ne contient des mots farfelus, ou des touches dhumour. Cet ouvrage, très populaire pendant la Renaissance, est un traité sur la théorie de léthique.</p></div>' />
        <a href ='http://linux.org'></a>
</div>