<div id='slideshowHolder'>
	<img src="{{ asset( 'bundles/flipflopsite/images/img_carousel/1.jpg') }}" alt='img1' />
	<img src="{{ asset( 'bundles/flipflopsite/images/img_carousel/2.jpg') }}" alt='img2' />
        <img src="{{ asset( 'bundles/flipflopsite/images/img_carousel/3.jpg') }}" alt='img3' />
        <img src="{{ asset( 'bundles/flipflopsite/images/img_carousel/4.jpg') }}" alt='img4' />
        <img src="{{ asset( 'bundles/flipflopsite/images/img_carousel/5.jpg') }}" alt='img5' />
</div>